<launch>
    <!-- Arguments -->
    <arg name="gazebo_world" default="$(find go1_simulation)/worlds/willow_garage.world" />

    <!-- Parameters -->
    <param name="use_sim_time" value="true" />

    <!-- Gazebo Simulation -->
    <include file="$(find go1_simulation)/launch/go1_simulation.launch">
        <arg name="gazebo_world" value="$(arg gazebo_world)" />
    </include>

    <!-- SLAM Node -->
    <include file="$(find go1_simulation)/launch/slam.launch">
    </include>
</launch>